
body{
  font-family: 'Courier New', monospace;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  height: 100%;
  background-color: rgb(191,191,191);

}
p, h1{
cursor:default;
}
.notice{
  padding: 10px;
  background-color: rgb(230,230,230,0.3);
  border-radius: 10px;
  position:absolute;
  top:10px;
  left:10px;
}
.notice p{
  margin:0;
  font-size:clamp(0px,5vh,20px);
}

.main{
  position:absolute;
  width: 100%;
  height: 100%;
}

.top-gradient{
  position:absolute;
  width: 100%;
  height: 50%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgb(10,10,10,0.8), rgb(255,255,255, 0));
}


.heading-image{
  overflow:hidden;
  min-width:100%;
  height:100vh;
  object-fit:cover;
}


.center-text{
  position:absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width:70%;
  min-width:400px;
  left: 50%;
}

.text-main{
  box-sizing: border-box;
  padding: 2vw;
  padding-top: 5px;
  padding-bottom;5px;
  position:absolute;
  width: 35%;
  right: 0;
  height:100%;
  background-color:rgba(191,191,191,0.5);
  border-radius:10px;
}
.text-main img {
  width: 100%;
  max-height: 30vh;
  object-fit:contain;
  border-radius:10px;
  margin:0px;
}
.name{
  text-decoration:underline;
  margin:0px;
  text-align:center;
}


.profile-text h1 {
  font-size:clamp(20px, 3vh, 40px);
}
.profile-text p{
  font-size:clamp(20px, 2vh, 40px);
}

.profile-text{
  overflow: scroll;
  height:35%;
}


.link-main{
  width:55%;
  left:0;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(100,100,100,0.7), rgba(255,255,255, 0)); 
}


.link-container{
  display:flex;
  height:10vh;
  align-items: center;
  padding: clamp(3px, 2vh, 20px);
  min-height: 40px;
}


.link-container img {
  cursor: crosshair;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out
}
.link-container img:hover {
  transform: translateY(-15px) rotate(-2deg)  scale(1.05); /* floats up */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); /* optional shadow effect */
}

.link-container p {
  margin-left:3px;
  cursor:pointer;
  font-size:clamp(20px, 3vh, 40px);
  padding-left: 10px;
  color:rgb(4,9,62)
}
